In [1]:
import pandas as pd

In [6]:
earth_quake_df = pd.read_csv('../1_Data/earthquakes.tsv', delimiter='\t')

In [7]:
earth_quake_df = earth_quake_df.loc[earth_quake_df.Year >= 1950, :]

In [8]:
earth_quake_df.head()

,Search Parameters,Year,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,...,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description
3586,NaN,1950.0,1.0,19.0,17.0,27.0,20.9,NaN,NaN,IRAN: BUSHIRE,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
3587,NaN,1950.0,1.0,30.0,0.0,56.0,32.0,1803.0,NaN,CHILE: SOUTHERN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3588,NaN,1950.0,2.0,2.0,19.0,33.0,39.0,NaN,NaN,CHINA: YUNNAN PROVINCE,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
3589,NaN,1950.0,2.0,4.0,9.0,31.0,0.0,NaN,NaN,TURKEY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3590,NaN,1950.0,2.0,28.0,10.0,20.0,0.0,NaN,NaN,RUSSIA: SEA OF OKHOTSK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
earth_quake_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1612 entries, 4726 to 6337
Data columns (total 39 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Search Parameters                   0 non-null      object
 1   Year                                1612 non-null   float64
 2   Mo                                  1612 non-null   float64
 3   Dy                                  1612 non-null   float64
 4   Hr                                  1611 non-null   float64
 5   Mn                                  1610 non-null   float64
 6   Sec                                 1607 non-null   float64
 7   Tsu                                 347 non-null    float64
 8   Vol                                 14 non-null     float64
 9   Location Name                       1612 non-null   object
 10  Latitude                            1612 non-null   float64
 11  Longitude                           1612 non-null   float64
 12  Focal Depth (km)                    1600 non-null   float64
 13  Mag                                 1609 non-null   float64
 14  MMI Int                             490 non-null    float64
 15  Deaths                              688 non-null    float64
 16  Death Description                   696 non-null    float64
 17  Missing                             22 non-null     float64
 18  Missing Description                 21 non-null     float64
 19  Injuries                            862 non-null    float64
 20  Injuries Description                926 non-null    float64
 21  Damage ($Mil)                       253 non-null    float64
 22  Damage Description                  1320 non-null   float64
 23  Houses Destroyed                    430 non-null    float64
 24  Houses Destroyed Description        603 non-null    float64
 25  Houses Damaged                      442 non-null    float64
 26  Houses Damaged Description          714 non-null    float64
 27  Total Deaths                        705 non-null    float64
 28  Total Death Description             709 non-null    float64
 29  Total Missing                       23 non-null     float64
 30  Total Missing Description           24 non-null     float64
 31  Total Injuries                      879 non-null    float64
 32  Total Injuries Description          944 non-null    float64
 33  Total Damage ($Mil)                 263 non-null    float64
 34  Total Damage Description            1317 non-null   float64
 35  Total Houses Destroyed              439 non-null    float64
 36  Total Houses Destroyed Description  617 non-null    float64
 37  Total Houses Damaged                420 non-null    float64
 38  Total Houses Damaged Description    687 non-null    float64
dtypes: float64(37), object(2)
memory usage: 503.8+ KB

In [21]:
earth_quake_df.columns

Index(['Search Parameters', 'Year', 'Mo', 'Dy', 'Hr', 'Mn', 'Sec', 'Tsu',
       'Vol', 'Location Name', 'Latitude', 'Longitude', 'Focal Depth (km)',
       'Mag', 'MMI Int', 'Deaths', 'Death Description', 'Missing',
       'Missing Description', 'Injuries', 'Injuries Description',
       'Damage ($Mil)', 'Damage Description', 'Houses Destroyed',
       'Houses Destroyed Description', 'Houses Damaged',
       'Houses Damaged Description', 'Total Deaths', 'Total Death Description',
       'Total Missing', 'Total Missing Description', 'Total Injuries',
       'Total Injuries Description', 'Total Damage ($Mil)',
       'Total Damage Description', 'Total Houses Destroyed',
       'Total Houses Destroyed Description', 'Total Houses Damaged',
       'Total Houses Damaged Description'],
      dtype='object')

## Data Cleaning Observations

### Mn, Sec, Tsu, Vol,Dy, MMI Int, Deaths, Death Description, Missing, Missing Description, Injuries, Injuries Description, Damage, 
### Damage Description, Houses Destroyed,Houses Destroyed Description, Houses Damaged, Houses Damaged Description, Total Deaths, 
### Total Death Description, Total Missing, Total Missing Description,  Total Injuries, Total Injuries Description,Total Damage (Mil), 
### Total Damage Description, Total Houses Destroyed, Total Houses Destroyed Description, Total Houses Damaged, Total Houses Damaged Description

##### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### 1 All the above mentioned columns will be dropped, as they do not contain enough information for analysis

### 2 Rename Mo and Hr columns to a descriptive name namely Month and Hour
### 3 Convert Year, Mo and Hr columns to object data types
### 4 Extract the country name from location name column
### 5 Drop the location name column
### 6 Fill-in null values with zeros (0)
### 7 index column values are disorganised.

## Data Cleaning

In [9]:
earth_quake_df_clean = earth_quake_df.copy()

### 1 Drop all columns not relevant for analysis

### Define

### remove identified unnecessary columns using the drop method

### Code

In [10]:
earth_quake_df_clean.drop(['Search Parameters', 'Mn','Sec', 'Tsu', 'Vol','Dy','MMI Int', 'Deaths', 'Death Description', 
                      'Missing', 'Missing Description', 'Injuries', 'Injuries Description', 'Damage ($Mil)', 
                      'Damage Description', 'Houses Destroyed','Houses Destroyed Description', 'Houses Damaged', 
                      'Houses Damaged Description', 
                      'Total Deaths','Total Death Description', 'Total Missing',
                      'Total Missing Description','Total Injuries', 'Total Injuries Description',
                      'Total Damage ($Mil)', 'Total Damage Description', 'Total Houses Destroyed', 
                      'Total Houses Destroyed Description', 'Total Houses Damaged',
                      'Total Houses Damaged Description'], axis=1,inplace=True)

### Test

In [11]:
earth_quake_df_clean.columns

Index(['Year', 'Mo', 'Hr', 'Location Name', 'Latitude', 'Longitude',
       'Focal Depth (km)', 'Mag'],
      dtype='object')

### 2 column names to lowercase

### Define

### Convert column names to lowercase

### Code

In [17]:
earth_quake_df_clean.columns = earth_quake_df_clean.columns.str.lower()

### Test

In [18]:
earth_quake_df_clean.columns

Index(['year', 'month', 'hour', 'location name', 'latitude', 'longitude',
       'focal depth (km)', 'magnitude'],
      dtype='object')

### Spaces in-between column names should be removed

### Define

### Replace spaces in-between column names with an underscore

### Code

In [19]:
earth_quake_df_clean.columns = earth_quake_df_clean.columns.str.replace(' ', '_')

### Test

In [20]:
earth_quake_df_clean.columns

Index(['year', 'month', 'hour', 'location_name', 'latitude', 'longitude',
       'focal_depth_(km)', 'magnitude'],
      dtype='object')

### 3  Mo and Hr columns should have descriptive name namely Month and Hour

### Define

### Rename the Mo and Hr columns using rename() method

### Code

In [22]:
earth_quake_df_clean.rename(columns = {'Mo':'month', 'Hr':'hour','Mag':'magnitude'}, inplace=True)

### Test

In [23]:
earth_quake_df_clean.columns

Index(['year', 'month', 'hour', 'location_name', 'latitude', 'longitude',
       'focal_depth_(km)', 'magnitude'],
      dtype='object')

### 3 Convert Year, Month and Hour columns to object data types

### Define

### Modify the data types of the identified columns using the astype method

### Code

In [24]:
earth_quake_df_clean[['year', 'month', 'hour']] = earth_quake_df_clean[['year', 'month', 'hour']].astype(object)

### Test

In [25]:
earth_quake_df_clean[['year', 'month', 'hour']].dtypes

year     object
month    object
hour     object
dtype: object

### 4 Extract the country name from location name column

### Define

### extract the country name from location name using str.split() method

### Code

In [26]:
earth_quake_df_clean['country'] = earth_quake_df_clean['location_name'].str.split(':').str[0]

### Test

In [27]:
earth_quake_df_clean.country.value_counts()

CHINA                     286
INDONESIA                 226
IRAN                      189
JAPAN                     157
TURKEY                    113
                         ...
CANADA; MAINE               1
VENEZUELA-N COLOMBIA        1
HONDURAS;  N GUATEMALA      1
MONTENEGRO                  1
ALASKA PENINSULA            1
Name: country, Length: 221, dtype: int64

### 5 location name column should be removed

### Define

### Remove the location name column using the drop() method

### Code

In [28]:
earth_quake_df_clean.drop(['location_name'], axis=1, inplace=True)

### Test

In [30]:
earth_quake_df_clean.columns

Index(['year', 'month', 'hour', 'latitude', 'longitude', 'focal_depth_(km)',
       'magnitude', 'country'],
      dtype='object')

### 6 Fill-in null values with zeros (0)

### Define

### Substitute null values with Zeros (0) using fillna method

### Code

In [31]:
earth_quake_df_clean.isnull().sum()

year                  0
month                 0
hour                 34
latitude              1
longitude             1
focal_depth_(km)    187
magnitude            69
country               0
dtype: int64

In [32]:
earth_quake_df_clean.fillna(0, inplace=True)

### Test

In [33]:
earth_quake_df_clean.isnull().sum()

year                0
month               0
hour                0
latitude            0
longitude           0
focal_depth_(km)    0
magnitude           0
country             0
dtype: int64

### 7 index column values are disorganised.

### Define

### Replace the index column values to a sorted numeric values

### Code

In [34]:
earth_quake_df_clean.index

Int64Index([3586, 3587, 3588, 3589, 3590, 3591, 3592, 3593, 3594, 3595,
            ...
            6328, 6329, 6330, 6331, 6332, 6333, 6334, 6335, 6336, 6337],
           dtype='int64', length=2752)

In [35]:
earth_quake_df_clean.index = range(1, len(earth_quake_df_clean) + 1)

### Test

In [36]:
earth_quake_df_clean.index

RangeIndex(start=1, stop=2753, step=1)

## Feature Engineering

## earthquake magnitude scale should be computed

### Define

### Calculate the earthquake magnitude scale

In [41]:
earth_quake_df_clean.magnitude.dtype

dtype('float64')

### Code

In [47]:
def magnitude_scale(col:float)-> str:
    scale = ''
    if(col < 2.5):
        scale = 'limited damage'
    elif(col >= 2.5 and col <= 5.4):
        scale = 'minor damage'
    elif(col >= 5.5 and col <= 6.0):
        scale = 'slight_damage'
    elif(col >= 6.1 and col <= 6.9):
        scale = 'severe damage'
    elif(col >= 7.0 and col <= 7.9):
        scale = 'serious damage'
    else:
        scale = 'great damage'
    
    return scale

In [48]:
earth_quake_df_clean['magnitude_scale'] = earth_quake_df_clean.magnitude.apply(magnitude_scale)

### Test

In [51]:
earth_quake_df_clean.magnitude_scale.value_counts()

severe damage     764
minor damage      692
serious damage    626
slight_damage     535
limited damage     73
great damage       62
Name: magnitude_scale, dtype: int64

In [85]:
earth_quake_df_clean.to_csv('../3_Analysis/earthquake_data.csv', index=False)